[package]
name = "bookmark-cd"
version = "0.1.8"
edition = "2021"
authors = ["Alec Brown <alec@noser.net>"]
description = "Bookmark directories and move to them"
license = "Apache-2.0"
repository = "https://github.com/a1ecbr0wn/bcd"
homepage = "https://github.com/a1ecbr0wn/bcd"
readme = "README.md"
keywords = ["filesystem", "utility"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
path = "src/main.rs"
name = "bookmark-cd"

[dependencies]
lazy_static = "1.4.0"
argparse = "0.2.2"
clap = { version = "4.0", features = ["derive"] }
csv = "1.1.6"
home = "0.5.3"
tabled = "0.9.0"
sysinfo = "0.26.2"
pshell = "1.0.4"

[build-dependencies]
clap = { version = "4.0", features = ["derive"] }
clap_complete = "4.0"
clap_complete_fig = "4.0"
