    <!-- custom head snippets -->

    <link rel="stylesheet" href="/assets/css/just-the-docs-dark.css">

    <!-- Setup Google Analytics -->
    {% include head-custom-google-analytics.html %}

    <!-- You can set your favicon here -->
    <link rel="icon" href="https://bcd.a1ecbr0wn.com/img/favicon-32.png" sizes="32x32">
    <link rel="icon" href="https://bcd.a1ecbr0wn.com/img/appicon-512.png" sizes="512x512">
    <link rel="apple-touch-icon" href="https://bcd.a1ecbr0wn.com/img/appicon-512.png" sizes="250x250">

    <!-- end custom head snippets -->
